
<!-- Two way binding ---------------------------------->
Name: <input [(ngModel)]="title" type="text"  placeholder=" Enter name" >

<!-- One way binding ---------------------------------->
<!-- event binding   -->
<button (click)="execute()">Please Click Me</button>
<!-- String interpolation -->
<h1>{{title}}</h1>
<!-- property binding -->
<h2 [innerHtml]="title"></h2>

<div app-test (childEvent)="message=$event" [parentData]="name1"></div> <!-- <div class="app-test"></div>, <app-test></app-test> -->
{{message}}
<app-employee-list></app-employee-list>

<app-employee-details></app-employee-details>